// Colors
$primary: #002644;
$secondary: #ee453e;

// Fonts
$body-font: "nimbus-sans-extended", sans-serif;
$heading-font: $body-font;

// Typography
h1, h2, h3 {
	font-family: $body-font;
	color: $primary;
}

h1 {
	font-weight: 300;
	font-size: 1.875rem;
}
h2 {
	font-weight: 400;
	font-size: 1.875rem;
}
h3 {
	font-weight: 400;
	font-size: 1.375rem;
}
p, li, td {
	font-family: $body-font;
	font-weight: 300;
	// font-size: 0.813rem;
	font-size: 1rem;
	color: $primary;

	.tc__light & {
		color: #fff;
	}
}
button, input, optgroup, select, textarea {
	font-family: $body-font;
}
// img {
// 	figure & {
// 		width: 100%;
// 	}
// }
