.about {
	&__content {
		@include media-breakpoint-up(xl) {
			padding-top: 0.25rem;
			margin-bottom: 3.5rem;
		}

		&__text {
			@include media-breakpoint-up(xl) {
				padding: 2rem 2rem 2rem 0;
			}
		}

		&__photo {
			text-align: center;

			@include media-breakpoint-down(lg) {
				width: 40%;
			}

			&__image {
				width: 100%;
			}

			&__text {
				font-weight: 400;
			}
		}

		&__wrapper {
			@include media-breakpoint-up(xl) {
				padding-top: 2rem;
			}

			@include media-breakpoint-down(lg) {
				display: flex;
				justify-content: space-around;
			}
		}
	}

	&__map {
		&__photo {
			@include media-breakpoint-up(xl) {
				margin-bottom: 2rem;
			}

			&__image {
				width: 100%;
			}
		}
	}
}
