.navbar {
	padding: 0;

	.dropdown-menu {
		border: 0;
		background-color: transparent;
		margin-left: 1rem;
		padding-top: 0;
	}

	.dropdown-item {
		font-weight: 300;
		font-size: 1.125rem;
		color: $primary;
		padding-left: 0;
		padding-right: 0;

		@include media-breakpoint-up(lg) {
			padding: 0;
		}

		&:hover {
			color: $secondary;
			background-color: transparent;
		}
	}

	.dropdown-toggle {
		&::before {
			content: '';
			position: absolute;
			top: 1rem;
			left: 0;
			transform: translateX(calc(-100% - 1rem));
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 6px 0 6px 6px;
			border-color: transparent transparent transparent $secondary;
			transition: all .5s ease;
			
			@include media-breakpoint-up(lg) {
				top: .5rem;
				transform: translateX(calc(-100% - .5rem));
			}
		}

		&::after {
			display: none;
		}

		&.show {
			&::before {
				top: 1.25rem;
				border-width: 6px 6px 0 6px;
				border-color: $secondary transparent transparent transparent;
				
				@include media-breakpoint-down(md) {
					left: .25rem;
				}
				
				@include media-breakpoint-up(lg) {
					top: .7rem;
				}
			}
		}
	}
}

.navbar-toggler {
	position: absolute;
	top: .5rem;
	right: .5rem;
	font-weight: 300;
	font-size: 1.375rem;
	color: #fff;
	padding: 0;

	&:focus {
		box-shadow: none;
	}

	&::before {
		content: '';
		position: absolute;
		top: 50%;
		left: 0;
		transform: translate(calc(-100% - 1rem), -50%);
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 10px 10px 0 10px;
		border-color: $secondary transparent transparent transparent;
		transition: all .5s ease;

		@include media-breakpoint-down(lg) {
			display: none;
		}
	}

	&.collapsed::before {
		border-width: 10px 0 10px 10px;
		border-color: transparent transparent transparent $secondary;
	}
}

.navbar-toggler-icon {
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
	height: 1em;

	@include media-breakpoint-up(lg) {
		display: none;
	}
}

.navbar-toggler-text {
	@include media-breakpoint-down(lg) {
		display: none;
	}
}

.nav-link {
	font-weight: 300;
	font-size: 1.125rem;
	color: $primary;

	@include media-breakpoint-up(lg) {
		padding: 0;
	}

	&:focus {
		color: $primary;
	}

	&:hover {
		color: $secondary;
		background-color: transparent;
	}
}

.navbar-collapse {
	background-color: #fff;
	padding: 0 2rem;

	@include media-breakpoint-up(lg) {
		position: absolute;
		top: 2.65rem;
		right: 0;
		min-width: 16.875rem;
		padding: .5rem 1.75rem 1rem;
	}
}
