.sale__method {
	&__list {
		list-style: none;
		padding-left: 0;

		@include media-breakpoint-up(md) {
			display: flex;
			justify-content: space-between;
			flex-wrap: wrap;
			gap: .5rem;
		}

		&__item {
			flex-basis: calc(33.33% - 1rem);
			border-top: 1px solid $primary;
			padding-top: .5rem;

			@include media-breakpoint-down(sm) {
				&:not(:first-child) {
					border: 0;
				}
			}

			ul {
				list-style-type: disc;
				border-bottom: 1px solid $primary;
				padding-bottom: 1rem;
			}

			br {
				display: none;
			}

			&__heading {
				font-weight: 400;
			}
		}
	}
}
