.team {
	&__card {
		margin-bottom: 3rem;

		@include media-breakpoint-up(md) {
			width: 60%;
			margin: auto;
		}

		&__photo {
			text-align: center;

			&__image {
				max-width: 100%;

				@include media-breakpoint-down(md) {
					width: 80%;
				}
			}
		}
	}

	.accordion-item {
		border-top: 1px solid $primary;
		border-bottom: 1px solid $primary;
		border-left: 0;
		border-right: 0;
		margin-bottom: .5rem;
	}

	.accordion-button {
		background-color: transparent;
		color: $primary;
		// font-size: 0.813rem;
		box-shadow: none;
		padding: .5rem 1rem;

		&:not(.collapsed) {
			&::after {
				background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23002644'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
			}
		}
	}

	.accordion-body {
		padding: 1rem;

		ul {
			padding-left: 1rem;
		}
	}

	&__support {
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
		// display: grid;
		// grid-template-columns: auto;
		// grid-column-gap: 1rem;
		// grid-row-gap: 1rem;
		list-style: none;
		padding-left: 0;

		@include media-breakpoint-up(sm) {
			// grid-template-columns: auto auto;
		}

		@include media-breakpoint-up(md) {
			// grid-column-gap: 4rem;
		}

		@include media-breakpoint-up(lg) {
			// width: 50%;
		}

		&__item {
			// flex-basis: 50%;
			text-align: center;
			width: 100%;

			@include media-breakpoint-up(md) {
				flex-basis: 50%;
			}

			&__photo {
				text-align: center;

				&__image {
					@include media-breakpoint-down(md) {
						width: 80%;
					}
					@include media-breakpoint-up(md) {
						object-fit: cover;
						width: 18.75rem;
						height: 18.75rem;
					}
				}
			}
		}
	}
}
