.testimonial {
	&__list {
		display: flex;
		justify-content: center;
		align-items: flex-start;
		flex-wrap: wrap;
		list-style: none;
		padding-left: 0;

		&__item {
			background-color: $primary;
			text-align: center;
			margin-bottom: 1rem;
			padding: 2rem 1rem;

			@include media-breakpoint-up(md) {
				flex-basis: 25%;
				margin: 0 1rem;
			}
		}
	}
}
